<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sol.custom.dao.MemberDAO">
    <select id="idCheck" parameterType="string"  resultType="int">
    	select count(id) cnt from member where id = #{id}
  	</select>
  	
  	<select id="loginProc" parameterType="mdto" resultType="mdto">
  		SELECT id, name, role, passwd 
      	FROM MEMBER 
      	WHERE id = #{id} 
      	and passwd = #{passwd}
  	</select>
  	
  	<insert id="signUpProc" parameterType="mdto">
  		<selectKey keyProperty="no" resultType="int" order="BEFORE">
	       SELECT NVL(MAX(no),0)+1 no FROM member
      	</selectKey>
  		
  		insert into member(no,id,passwd,name,email,phone,gender)
  		values( #{no},
  				#{id},
  				#{passwd},
  				#{name},
  				#{email},
  				#{phone},
  				#{gender})
  	</insert>
  	
  	<select id="getMemberNo" parameterType="string" resultType="int">
  		select no from member where id = #{idKey}
  	</select>
  	
</mapper>