<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sol.custom.dao.RestaurantDAO">
    
    <select id="getRestaurants" parameterType="resdto" resultType="resdto">
    	select t.no, t.c_no , c.name c_name, t.name , address1 , address2 , tel , hour 
    	from restaurant t join category c 
    	on t.c_no = c.no 
    	
    	<choose>
    		<when test="no != 0">
    			where t.no = #{no}
    		</when>
    	</choose>
    </select>
  	
  	<select id="getMenus" parameterType="rdto" resultType="ndto">
  		select m.food_no , c_no, name, price 
  		from food f join r_menu m 
  		on f.no = m.food_no 
  		where res_no = #{no}
  	</select>
  	
  	
  	<insert id="likeRestaurant" parameterType="hashMap">
      	insert into favorites(res_no,mem_no)
      	values(#{res_no},
      		   #{mem_no})
  	</insert>
  	
  	<delete id="dislikeRestaurant" parameterType="hashMap">
  		delete from favorites 
  		where res_no = #{res_no}
  		and mem_no = #{mem_no}
  	</delete>
  	
  	<select id="favoriteCheck" parameterType="hashMap" resultType="int">
  		select count(mem_no) 
  		from favorites
  		where res_no = #{res_no}
  		and mem_no = #{mem_no}
  	</select>
</mapper>