<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sol.custom.dao.ReviewDAO">
	<insert id="reviewInsert" parameterType="rdto">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
	       SELECT NVL(MAX(no),0)+1 no FROM review
      	</selectKey>
      	insert into 
      	review(no,res_no,mem_no,mem_id,date1,rating,file1,content)
      	values( #{no},
      			#{res_no},
      			#{mem_no},
      			#{mem_id},
      			sysdate,
      			#{rating},
      			#{file},
      			#{content})
	</insert>
	
	
	<resultMap type="map" id="resultMap">
		<id column="count" property="count"/>
		<id column="avg"   property="avg"/>
	</resultMap>
	<select id="reviewCountAndAvg" parameterType="tdto" resultMap="resultMap">
		select count(*) count, nvl(trunc(avg(rating),1) , 0.0) avg 
		from review
		where res_no = #{no}
	</select>
	
	<select id="getReviews" parameterType="tdto" resultType="rdto">
		select no,res_no,mem_no,mem_id,date1 ,rating ,content 
		from review 
		<choose>
			<when test="no != 0">
				where res_no = #{no}
			</when>
		</choose>
	</select>
</mapper>