@charset "UTF-8";

/* div { */
/* 	text-align: center; */
/* } */
#header{
	text-align:center;
	width:80%;
	height:60px;
	margin: 0 auto;
}
#menu {
	height:30px;
}
#menu ul {
	list-style-type: none;
	margin:0;
	padding:0;
	line-height:30px;
}

#menu ul li {
	float:left;
	border: 0.1em solid black;
	width:22%;
	text-align: center;
	margin-left:1%;
}
#main-wrapper{
	clear:both;	
}
#search{
	text-align:center;
}
#search form{
float:left;
}
#search button{
	float:left
}
#content-wrap{
	clear:both;
}
table {
	margin:0 auto;
}