@charset "UTF-8";

/* div { */
/* 	text-align: center; */
/* } */
#header{
	width:100%;
	height:auto;
}
#menu ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

#menu ul li {
	float:left;
	border: 0.1em solid black;
	width:24%;
	text-align: center;
}
#main-wrapper {
	clear:both;
}
#search {
	float:left;
	text-align: center;
}
#search > form{
	float:left;
}
#content-wrap{
	clear:both;
}
table {
	margin:0 auto;
}
#addStore {
	float:left;
}