@charset "UTF-8";

*{
   margin:0;
   padding:0;
}
   
body{
   background-color:#f3f3f3;
}

body, button, input, select, td, textarea, th {
   font-size: 14px;
   line-height: 1.5;
   font-family:  Malgun Gothic, sans-serif;
   color: #000;
/*    letter-spacing: -1px; */
}

/*========================================== �깙 怨� �뫖�꽣 ============================================ */

/* �엫�떆 �깙 */
.sub2_top {
	padding-top: 20px;
    width: 100%;
    height: 68px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2017/pc/bg_header.png) repeat-x;
}

/* �엫�떆 �뫖�꽣 */
.sub2_footer{
	padding-top: 40px;
}
.sub2_footer2{
	width: 100%;
    height: 50px;
    padding: 33px 0;
    border-top: 1px solid #e2e2e2;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    clear: both;
    color: #444;
    background: #fafafa;
}


/*=============================================留ㅼ옣�냼媛� 諛�  �긽�꽭�젙蹂� ========================================= */

/* sub2 �쓽 �쟾泥댁쟻 援ъ“ */
.sub2_wrap{
   width: 800px;
   padding-top: 16px;
   margin: 0 auto;
   display: block;
}

/* sub �쓽 湲곗궗(�궡�슜) */
.sub2_article{
   display:block;
}

/* 湲곗궗(�궡�슜)�쓽 �뿤�뜑(泥ル쾲吏� 釉붾줉) */
.article_header {
   position: relative;
   border: 1px solid #ebebeb;
   background: #fff;
}

/* �뿤�뜑�쓽 �궗吏꾩쁺�뿭 */
.header_picture{
   position: relative;
   min-height: 144px;
   margin: -1px -1px 0;
}

.header_picture .picture_present{
   display: block;
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 270px;
   background-size: cover;
   background-position: 50% 50%;
}

.header_picture .picture_present:after{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 65px;
   content: "";
}

.frame_g {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 1px solid rgba(0, 0, 0, .08);
   box-sizing: border-box;
}

/* �뿤�뜑�쓽 �궡�슜�쁺�뿭 */
.header_details{
   position: relative;
   z-index: 10;
   width: 744px;
   padding-bottom: 4px;
   margin: -64px auto 0;
   background:url(//t1.daumcdn.net/localimg/localimages/07/2017/pc/bg_shadow_bottom.png) no-repeat 0 100%;
   text-align: center;
}

/* �뿤�뜑 �궡�슜�쓽 inner �쁺�뿭 */
.header_details .details_inner{
   min-height: 187px;
   padding-top: 27px;
   background:url(//t1.daumcdn.net/localimg/localimages/07/2017/pc/bg_shadow_side.png) repeat-y;
   display: block;
   border-bottom: 2px SOLID #DDDDDD;
}

/* inner�쓽 ���씠�� */
.inner_title{
   padding: 2px 33px 0;
   font-size: 40px;
   line-height: 50px;
   letter-spacing: -2px;
}

/* �뿤�뜑�쓽 �룊�젏�쁺�뿭 */
.details_inner .inner_evaluation{
   height: 30px;
   padding-top: 8px;
   text-align: center;
}

/* 移댄뀒怨좊━(�뾽醫�) 怨� �븘�씠肄� �쁺�뿭  */
.details_inner .category_title,
.details_inner .evaluation_title,
.details_inner .review_title,
.details_inner .ico_dot{
   display: inline-block;
   font-size: 16px;
   line-height: 25px;
   letter-spacing: -1px;
   vertical-align: top;
   text-decoration: none;
}

/* �룊�젏�쁺�뿭�쓽 �젏(.) �븘�씠肄�   */
.details_inner .ico_dot{
   width: 3px;
   height: 3px;
   margin: 12px 4px 0;
   background-position: -120px -60px;
   vertical-align: top;
}

.ico_comm{
   display:block;
   overflow: hidden;
   font-size:1px;
   line-height:0;
   background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_detail_200518.png) no-repeat;
   background-repeat: no-repeat;
   text-indent: -9999px;
}

.color_b{
   display: inline-block;
   padding-top: 3px;
   font-family: Arial, sans-serif;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0;
   vertical-align: top;
   color: #3396ff;
}

.color_g{
   display: inline-block;
   padding-top: 2px;
   font-family: Arial, sans-serif;
   font-size: 16px;
   letter-spacing: 0;
   vertical-align: top;
   color: #888;
}

.details_inner .inner_booking{
	position: relative;
    width: 350px;
    height: 46px;
    padding: 23px 0 28px;
    margin: 0 auto;
}

.inner_booking .booking_btn{
    width: 120px;
    height: 45px;
    border:0 none;
    color: #fff;
    background: #3396ff;
    cursor:pointer;
    font-size: 18px;
}

/* inner bookmark */
.header_details .inner_bookmark {
    position: absolute;
    top: 0;
    right: 2px;
    width: 43px;
    height: 43px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

.header_details .inner_bookmark .ico_bookmark {
    width: 14px;
    height: 19px;
    margin: 12px auto 0;
}


/* �뿤�뜑 �궡�슜�쓽 outer �쁺�뿭  */
.details_outer{
   position: relative;
   padding: 25px 79px 40px;
   background-color:#fff;
}

/* outer�쓽 ���씠�� */
.details_outer .outer_title{
   padding-bottom: 17px;
   font-weight: 700;
}

.outer_title{
   height: 23px;
   padding: 10px 0 0;
   font-size: 17px;
   letter-spacing: -2px;
   line-height: 24px;
}

/* outer�쓽 �옣�냼,�떆媛�,�뿰�씫泥�  */
.details_outer .outer_placeinfo,
.details_outer .outer_hourinfo,
.details_outer .outer_contactinfo{
   min-height: 22px;
    padding-bottom: 10px;
    line-height: 22px;
}

/* outer�쓽 �옣�냼 */
.outer_placeinfo .ico_address{
   width: 13px;
    height: 18px;
    margin: 3px 0 0 2px;
    background-position: -40px -30px;
}

/* outer�쓽 �떆媛� */
.outer_hourinfo .ico_operation{
   width: 14px;
    height: 14px;
    margin: 5px 0 0 1px;
    background-position: -60px -30px;
}

/* outer�쓽 �뿰�씫泥� */
.outer_contactinfo .ico_contact{
   width: 15px;
    height: 15px;
    margin: 6px 0 0 1px;
    background-position: -100px -30px;
}

/* outer �긽�꽭 二쇱냼  */
.details_outer .location_detail {
    position: relative;
    padding-left: 24px;
}

.details_outer .txt_address{
    display: block;
    word-break: break-all;
}

.location_detail .txt_addrnum {
    display: block;
    height: 17px;
    padding-top: 3px;
    line-height: 17px;
    color: #666;
}

.txt_addrnum .bg_bar {
    margin: 4px 6px 0;
}

.bg_bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #e5e5e5;
    vertical-align: top;
    text-indent: -9999px;
}

/* outer �긽�꽭 �떆媛�  */
.details_outer .time_operation {
    display: inline-block;
    padding-left: 4px;
    padding-top: 4px;
    font-family: Arial,sans-serif;
    line-height: 14px;
    letter-spacing: 0;
    vertical-align: top;
}

/* outer �긽�꽭 �뿰�씫泥� */
.details_outer .txt_contact {
    font-family: Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 0;
}

/*===========================================留ㅼ옣 硫붾돱 ============================================= */

/* 湲곗궗(�궡�슜)�쓽 硫붾돱�쁺�뿭(�몢踰덉㎏ 釉붾줉) */
.article_menu {
    padding: 29px 79px 44px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    background: #fff;
}

/* 硫붾돱 ���씠�� */
.menu_title{
    height: 23px;
	padding-top: 10px;
	float: left;
    padding: 4px 13px 0 0;
    font-size: 17px;
    letter-spacing: -2px;
    line-height: 24px;
    
}

/* 硫붾돱 �씠誘몄� wrap */
.menu_image_wrap{
    overflow: hidden;
    width: 640px;
}

.menu_image_wrap .menu_image{
    overflow: hidden;
    width: 642px;
    padding-top: 19px;
}

.menu_image .image_view{
    position: relative;
    float: left;
    width: 319px;
    height: 110px;
    margin: 1px;
    background: #d8d8d8;
    background-size: cover;
    background-position: 50% 50%;
}

/* 硫붾돱 媛쒖닔 */
.menu_num_wrap{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 39px;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2017/pc/bg_gradient2.png) repeat-x;
}

.menu_num_wrap .menu_num{
	overflow: hidden;
    float: right;
    height: 22px;
    margin: 14px 14px 0 0;
    font-family: Arial,sans-serif;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0;
}

.article_menu .ico_menu{
	float: left;
    width: 13px;
    height: 13px;
    margin: 4px 5px 0 0;
    background-position: -170px -480px;
}

/* 硫붾돱 由ъ뒪�듃 */
.menu_list li{
	overflow: hidden;
    position: relative;
    width: 640px;
}

.menu_list .menu_element{
	padding: 2px 0;
    border-bottom: 0;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2017/pc/bg_dot.png) repeat-x 0 50%;
}

.menu_list .menu_fst{
	padding-top: 12px;
    background-position: 0 22px;
}

.menu_list .menu_last{
	margin-bottom: 13px;
}

.menu_element .menu_info{
	overflow:hidden;
	float:none;
}

.menu_element .menu_name{
	float: left;
    width: auto;
    max-width: 475px;
    padding-right: 6px;
    line-height: 23px;
    background: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
}

.menu_element .menu_price{
    float: right;
    padding: 0 0 0 6px;
    color: #888;
    background: #fff;
    display: block;
    font-size: 15px;
    font-family: Arial,sans-serif;
    letter-spacing: 0;
}

/*===========================================留ㅼ옣 由щ럭 ============================================= */
/* 湲곗궗(�궡�슜)�쓽 由щ럭�쁺�뿭(�꽭踰덉㎏ 釉붾줉) */
.article_review{
	padding: 29px 79px 31px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    background: #fff;
}

/* 由щ럭 ���씠�� */
.article_review .review_title{
	height: 23px;
    padding: 10px 0 0;
    font-size: 17px;
    letter-spacing: -2px;
    line-height: 24px;
    overflow:hidden;
}

/* 由щ럭 �옉�꽦�뤌 ��*/
.review_wrap{
	margin-top: 11px;
    border: 1px solid #ddd;
}

/* 由щ럭 �옉�꽦�뤌 蹂꾩젏 �룊�젏 �쁺�뿭 */

.review_wrap .grade_star{
	overflow: hidden;
    padding: 19px 19px 20px;
    border-bottom: 1px solid #f2f2f2;
}

.ico_star{
	display: block;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_star_180723.png) no-repeat;
}

.review_wrap .star_rate{
	width:151px;
	float: left;
    height: 27px;
    margin-right: 4px;
    cursor: pointer;
}

.star_rate .inner_star{
	height: 100%;
    background-position: 0 -30px;
}


/* �엫�떆 ... 由щ럭 �옉�꽦�뤌 蹂꾩젏 �룊�젏 �쁺�뿭 */

.star-input>.input,
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle; background:url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_star_180723.png) no-repeat ;}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:5px;line-height:30px;}
.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 -30px;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}


/* 由щ럭 �옉�꽦�뤌 蹂꾩젏�떦 �젏�닔 */
.review_wrap .num_rate{
	float: left;
    height: 27px;
    margin: 0 13px 0 12px;
    font-family: Arial,sans-serif;
    font-size: 20px;
    letter-spacing: 0;
}

/* 蹂꾩젏�떦 �뀓�뒪�듃 */
.review_wrap .txt_word{
	float: left;
    font-size: 20px;
    line-height: 25px;
}

/* 由щ럭 content �쁺�뿭 */
.review_wrap .review_content{
	overflow: visible;
    width: 595px;
    height: 44px;
    padding: 14px 23px 9px 20px;
    line-height: 22px;
    border: 0 none;
    font-size: 14px;
    letter-spacing: -1px;
    vertical-align: middle;
    color: #444;
    resize: none;
    -webkit-appearance: none;   
}

/* 由щ럭 file upload �쁺�뿭 */
.review_wrap .review_fileupload{
	border-top: 1px solid #e2e2e2;
}

/* 由щ럭 湲��옄�닔  */
.review_enroll .num_letter{
float: right;
    height: 15px;
    padding: 13px 20px 0 0;
    font-size: 13px;
    font-family: Arial,sans-serif;
    line-height: 15px;
    letter-spacing: 0;
}

.num_letter .num_total{
	color:#888;
}

/* 由щ럭 �벑濡� 踰꾪듉 */
.review_wrap .review_enroll{
    position: relative;
    width: 541px;
    height: 40px;
    padding: 0 77px 0 20px;
    border-top: 1px solid #e2e2e2;
}

.review_wrap .btn_enroll{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 78px;
    height: 42px;
    border:0 none;
    padding-bottom: 1px;
    color: #fff;
    background: #3396ff;
    cursor:pointer;
}

/* 留ㅼ옣 由щ럭 rate(�젏�닔)  */
.review_rate{
	overflow: hidden;
    padding: 6px 0 0;
}

/* 留ㅼ옣 由щ럭 �젏�닔�뿉�꽌 �닽�옄 */
.review_rate .num_rate{
	float: left;
    height: 40px;
    font-family: Arial,sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0;
}

/* 留ㅼ옣 由щ럭 �젏�닔�뿉�꽌 湲��옄 -> �젏 �씠�씪�뒗 �뀓�뒪�듃 �몴�떆 */
.review_rate .txt_score{
	display: inline-block;
    margin-left: 4px;
    font-family: "\B9D1\C740 \ACE0\B515",Malgun Gothic,sans-serif;
    font-size: 25px;
    line-height: 33px;
    vertical-align: top;
}

/* 留ㅼ옣 由щ럭 蹂꾩젏 �몴�떆  */
.review_rate .star_rate{
    width: 151px;
    height: 27px;
    background-position: 0 0;
	float: left;
    margin: 5px 0 0 10px;
}

/* 留ㅼ옣 �쟾泥� 由щ럭 �쁺�뿭 */
.review_view{
	padding-top: 14px;
}

/* 留ㅼ옣 �쟾泥� 由щ럭 �쁺�뿭�뿉�꽌 媛곴컖 由щ럭�뱾 */
.review_view li{
	overflow: hidden;
    position: relative;
    min-height: 52px;
    padding: 17px 0 18px;
    border-top: 1px solid #f2f2f2;
    list-style:none;
}

/* 媛곴컖 由щ럭�뿉�꽌 �봽濡쒗븘 �궗吏�(defalut) �쁺�뿭 */
.review_view .profile_info{
	float: left;
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 31px;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/value_img_profile_default.png) no-repeat;
	cursor: pointer;
}

.review_view .profile_info:after{
	overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 48px;
    height: 48px;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/value_img_profile_frame.png) no-repeat;
    content: "";
}

/* 媛곴컖 由щ럭�뿉�꽌 �봽濡쒗븘 �궗吏�(�궡 �봽濡쒗븘) img �쁺�뿭 */
.review_view .thumb_g{
	display: block;
    width: 48px;
    height: 48px;
    border:0 none;
}

/* 媛곴컖 由щ럭�뿉�꽌 蹂꾩젏 �쁺�뿭 */
.review_view .star_info{
	overflow: hidden;
    padding-right: 12px;
} 

.review_view .grade_star{
	overflow: hidden;
}

.review_view .star_rate{
	float: left;
    width: 88px;
    height: 16px;
    background-position: 0 -60px;
}

.review_view .star_rate .inner_star{
	height: 100%;
	background-position: 0 -80px;
}

.review_view .num_rate{
	float: left;
    height: 16px;
    padding: 0 6px;
    font-family: Arial,sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;
}

/* 媛곴컖 由щ럭�뿉�꽌 phote�쁺�뿭  */
.review_view .link_photo{
	overflow: hidden;
    float: right;
    position: relative;
    width: 78px;
    height: 78px;
    margin-top: 13px;
    text-indent: -9999px;
    color: transparent;
}

.review_view .link_photo .photo_img{
	display:block;
}

/* 媛곴컖 由щ럭�뿉�꽌 content(由щ럭 湲�) �쁺�뿭 */
.review_view .content_info{
	overflow: hidden;
    padding: 9px 12px 0 0;
}

.review_view .txt_content{
	overflow: hidden;
    color: #444;
    line-height: 21px;
    white-space: pre-wrap;
    word-break: break-all;
}

/* 媛곴컖 由щ럭�뿉�꽌 醫뗭븘�슂 , �븘�씠�뵒, �옉�꽦 �궇吏� �쁺�뿭  */
.review_view .item_content{
	overflow: hidden;
    height: 22px;
    padding: 6px 0 0 2px;
    font-size: 13px;
}

.review_view .link_like{
	float:left;
    overflow: hidden;
    line-height: 22px;
    color: #444;
    text-decoration: none;
}

.review_view .ico_like{
	float: left;
    width: 13px;
    height: 13px;
    margin: 5px 4px 0 0;
    background-position: -60px -50px;
}

.review_view .num_g{
    font-family: Arial,sans-serif;
    line-height: 20px;
    letter-spacing: 0;
}

.review_view .like_on{
	color: #1f8cff;
}

.review_view .like_on .ico_like{
	background-position: -80px -50px;
}

/* 由щ럭�벖 �쑀�� id */
.review_view .link_user{
	float: left;
    color: #888;
}

.review_view .bg_bar{
	float:left;
	height: 11px;
    margin: 6px 7px 0 8px;
    background: #e2e2e2;
}

/* 由щ럭 �벑濡앹씪 */
.review_view .time_write{
	float: left;
    font-family: arial;
    line-height: 21px;
    color: #888;
    letter-spacing: 0;
}

/* 由щ럭 �럹�씠吏� */
.review_view .review_paging{
	padding-bottom: 19px;
    border-top: 1px solid #f2f2f2;
	overflow: hidden;
    padding-top: 22px;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    vertical-align: top;
}

/* �럹�씠吏� 踰덊샇 */
.review_paging .link_page{
	display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    vertical-align: top;
    letter-spacing: 0;
    color:#000;
    cursor: pointer;
}

.review_paging .link_page em{
	width: 26px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #3396ff;
    color: #3396ff;
    font-weight: 700;
    font-style: normal;
    display: inline-block;
}

.review_paging .link_page:hover{
	text_decoration:none;
	color:#00aef6;
}


/* �꽑�깮�맂 �럹�씠吏� 踰덊샇 */
.review_paging em.link_page{
	width: 26px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #3396ff;
    color: #3396ff;
    font-weight: 700;
}

/* �떎�쓬 �럹�씠吏�  */
.review_paging .btn_next{
	display: inline-block;
    height: 28px;
    margin-left: 10px;
    font-size: 13px;
    line-height: 27px;
    color: #666;
    background-position: 100% -10px;
    vertical-align: top;
    text-decoration: none;
    cursor: pointer;
}

.review_paging .ico_next{
	display: inline-block;
    width: 7px;
    height: 11px;
    margin: 8px 0 0 4px;
    background-position: -190px -50px;
    vertical-align: top;
}

/* �씠�쟾 �럹�씠吏� */

.review_paging .btn_prev {
    display: inline-block;
    height: 28px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 27px;
    color: #666;
    background-position: 0 10px;
    text-decoration: none;
    vertical-align: top;
}

.review_paging .ico_prev {
    display: inline-block;
    width: 7px;
    height: 11px;
    margin: 8px 4px 0 0;
    background-position: -180px -50px;
    vertical-align: top;
}