<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
     "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<!-- aliaes -->
    <typeAliases>
         <typeAlias alias="hashMap" type="java.util.HashMap" />
         <typeAlias alias="htable"  type="java.util.Hashtable" />
         <typeAlias alias="list"    type="java.util.List" />
         <typeAlias alias="string"  type="java.lang.String" />
         <typeAlias alias="map"     type="java.util.Map" />
         <typeAlias alias="mdto"    type="kr.co.sol.member.dto.MemberDTO" />
         <typeAlias alias="mbdto"    type="kr.co.sol.member.dto.MemberDTO" />
	     <typeAlias alias="rdto"    type="kr.co.sol.review.dto.ReviewDTO" />
         <typeAlias alias="resdto"  type="kr.co.sol.restaurant.dto.RestaurantDTO" />
         <typeAlias alias="bdto"    type="kr.co.sol.booking.dto.BookingDTO" />
         <typeAlias alias="qdto"    type="kr.co.sol.qna.dto.QnaDTO" />
         <typeAlias alias="fdto"    type="kr.co.sol.favorite.dto.FavoriteDTO" />
    </typeAliases>	
</configuration>
