<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sol.store.dao.BookingDAO">

<select id="getBooking" resultType="hashmap">
select b_no, m.mem_name, r.name 
from booking b join restaurant r on b.res_no = r.no JOIN member m on b.mem_no = m.mem_no
</select>

</mapper>