<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sol.searchresult.dao.SearchResultDAO">
    
    <select id="getRestaurants" parameterType="resdto" resultType="resdto">
    	select t.no, t.c_no , c.name c_name, t.name , address1 , address2 , tel , hour 
    	from restaurant t join category c 
    	on t.c_no = c.no 
    	
    	<choose>
    		<when test="no != 0">
    			where t.no = #{no}
    		</when>
    	</choose>
    </select>
  	
  	<select id="getRestaurants2" parameterType="hashMap" resultType="resdto">
  		select a.*
  		from (select rownum rr , b.*
  			from (select * from restaurant 
  			
  			
  			<choose>
  				<when test="keyword != null">
  					where address1 like '%'||#{keyword}||'%'
  				</when>
  			</choose>
  		
  			<choose>
  				<when test="category != null and category != 0">
  					and c_no = #{category}
  				</when>
  			</choose>
  			
  			) b ) a
  			
  			<choose>
  				<when test="start != null">
  				where a.rr between #{start} and #{end}
  				</when>
  			</choose>
  	</select>
  	
  	<select id ="getCnt" parameterType="hashMap" resultType="int" >
  		select count(*) 
  		from restaurant 
  		<choose>
  			<when test="keyword != null">
  				where address1 like '%'||#{keyword}||'%'
  			</when>
  		</choose>
  		
  		<choose>
  			<when test="category != null and category != 0">
  				and c_no = #{category}
  			</when>
  		</choose>
  	</select>
  	
  	<select id="visitorsCnt" parameterType="resdto" resultType="int">
  		select count 
  		from count
  		where res_no = #{no} 
  	</select>
  	
  	<select id="reviewAvg" parameterType="resdto" resultType="string">
  		select nvl(trunc(avg(rating),1),0.0) avg
  		from review
  		where res_no = #{no}
  	</select>
</mapper>