<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sol.searchresult.dao.SearchResultDAO">
    
    <select id="getRestaurants" parameterType="resdto" resultType="resdto">
    	select t.no, t.c_no , c.name c_name, t.name , address1 , address2 , tel , hour 
    	from restaurant t join category c 
    	on t.c_no = c.no 
    	
    	<choose>
    		<when test="no != 0">
    			where t.no = #{no}
    		</when>
    	</choose>
    </select>
  	
  	<select id="getRestaurants2" parameterType="hashMap" resultType="resdto">
  		select a.*
  		from (select rownum rr , b.*
  			from (select * from restaurant 
  			
  			
  			<choose>
  				<when test="keyword != null">
  					where address1 like '%'||#{keyword}||'%'
  				</when>
  			</choose>
  		
  			<choose>
  				<when test="category != null and category != 0">
  					and c_no = #{category}
  				</when>
  			</choose>
  			
  			) b ) a
  			
  			<choose>
  				<when test="start != null">
  				where a.rr between #{start} and #{end}
  				</when>
  			</choose>
  	</select>
  	
  	<select id ="getCnt" parameterType="hashMap" resultType="int" >
  		select count(*) 
  		from restaurant 
  		<choose>
  			<when test="keyword != null">
  				where address1 like '%'||#{keyword}||'%'
  			</when>
  		</choose>
  		
  		<choose>
  			<when test="category != null and category != 0">
  				and c_no = #{category}
  			</when>
  		</choose>
  	</select>
  	
  	<select id="visitorsCnt" parameterType="resdto" resultType="int">
  		select count 
  		from count
  		where res_no = #{no} 
  	</select>
  	
  	<select id="reviewAvg" parameterType="resdto" resultType="string">
  		select nvl(trunc(avg(rating),1),0.0) avg
  		from review
  		where res_no = #{no}
  	</select>
  	
  	<resultMap type="map" id="resultMap">
		<id column="count" property="count"/>
		<id column="avg"   property="avg"/>
	</resultMap>
	<select id="reviewCountAndAvg" parameterType="resdto" resultMap="resultMap">
		select count(*) count, nvl(trunc(avg(rating),1) , 0.0) avg 
		from review
		where res_no = #{no}
	</select>
	
	<resultMap type="map" id="resultMap2">
		<id column="name" property="name"/>
		<id column="c_name" property="c_name"/>
		<id column="count" property="count"/>
		<id column="avg"   property="avg"/>
	</resultMap>
	<select id="getvRestaurants" parameterType="hashMap" resultMap="resultMap2">
			select z.name , z.c_name , z.count ,nvl(trunc(avg(w.rating),1),0.0) avg, z.no
			from (select y.*
      			  from (select rownum rr , x.*
            		    from (select t.no, t.c_no , c.name c_name, t.name , address1 , address2 , tel , hour , n.count
                 			  from restaurant t join category c
                  			  on t.c_no = c.no 
                 			  join count n
                  			  on t.no = n.res_no
                  			  
                  			   		<choose>
  										<when test="category == 0">
  										</when>
  										<when test="category != 0">
  											where c.no = #{category}
  										</when>
  									</choose>
                  			  
                  			  order by n.count desc ) x ) y
      			  where y.rr between 1 and 5 ) z left outer join review w
     			  on z.no = w.res_no 
      			  group by  z.name , z.c_name , z.count, z.no
      			  order by z.count desc 
    		
	 </select>
	
  	<select id="getResname" parameterType="int" resultType="resdto">
  		select no, name 
  		from (select r.no, r.name 
  		from restaurant r JOIN count c ON r.no = c.res_no 
  		<choose>
  			<when test="category!=0">
	  		and r.c_no = #{category}
  			</when>
  		</choose>
  		 order by c.count desc)	
	  		<![CDATA[
	  		where rownum <=10
	  		]]>		
  		
  	</select>
  	
</mapper>